# --- Secrets et accès ---
.env
*.token
*.key
*.pem
secrets.txt
local.properties

# --- Fichiers de dump Java ---
*.hprof
hs_err_pid*

# --- Fichiers système ---
.DS_Store
Thumbs.db

# --- Logs et fichiers temporaires ---
*.log
*.tmp
*.bak
temp/

# --- Dossiers de dépendances / Outils ---
.git-filter-repo/
bfg-*.jar
node_modules/
venv/
__pycache__/

# --- Gradle et Build ---
.gradle/
build/
app/build/
app/release/
.idea/
*.apk
